<!-- Hero -->
<section class="section section--advantages" id="advantages">
    <div class="section__wrapper container">
        <div class="section__header section__header--secondary">
            <h2 class="section__title">Мы наиболее компетентны в тематиках</h2>
        </div>
        <div class="section__content">
            <div class="advantages">
                <div class="advantages__inner">
                    <ul class="advantages__grid grid">
                        <li class="advantages__item" data-nums data-animation>
                            <div class="advantages__info">
                                <div class="advantages__about">
                                    <p class="advantages__num"><span data-value="22">0</span>+</p>
                                    <p class="advantages__project">проектов в сфере</p>
                                </div>
                                <h3 class="advantages__title">Медицина, <br> фармацевтика и уход</h3>
                                <a href="images/medicine.pdf" class="btn btn--light btn--arrow" download="Презентация по медицине">Скачать презентацию по медицине</a>
                            </div>
                            <div class="advantages__images">
                                <img class="advantages__background" src="images/advantages/advantages-bg-1.jpg" alt="картинка" width="585" height="333">
                                <img class="advantages__pic advantages__pic--desktop advantages__pic--doctor" src="images/advantages/advantages-pic-1.png" alt="картинка" width="499" height="333" data-animation>
                                <img class="advantages__pic advantages__pic--mob advantages__pic--doctor" src="images/advantages/advantages-pic-1-mob.png" alt="картинка" width="360" height="325" data-animation>
                            </div>
                        </li>

                        <li class="advantages__item" data-nums data-animation>
                            <div class="advantages__info">
                                <div class="advantages__about">
                                    <p class="advantages__num"><span data-value="18">0</span>+</p>
                                    <p class="advantages__project">проектов в сфере</p>
                                </div>
                                <h3 class="advantages__title">Недвижимость <br> (аренда и продажа)</h3>
                            </div>
                            <div class="advantages__images">
                                <img class="advantages__background" src="images/advantages/advantages-bg-2.jpg" alt="картинка" width="585" height="333">
                                <img class="advantages__pic advantages__pic--hand advantages__pic--desktop" src="images/advantages/advantages-pic-2.png" alt="картинка" width="324" height="272" data-animation>
                                <img class="advantages__pic advantages__pic--mob advantages__pic--hand" src="images/advantages/advantages-pic-2-mob.png" alt="картинка" width="175" height="197" data-animation>
                            </div>
                        </li>

                        <li class="advantages__item" data-nums data-animation>
                            <div class="advantages__info">
                                <div class="advantages__about">
                                    <p class="advantages__num"><span data-value="12">0</span>+</p>
                                    <p class="advantages__project">проектов в сфере</p>
                                </div>
                                <h3 class="advantages__title">Морская <br> и речная тематика</h3>
                            </div>
                            <div class="advantages__images">
                                <img class="advantages__background" src="images/advantages/advantages-bg-3.jpg" alt="картинка" width="585" height="333">
                            </div>
                        </li>

                        <li class="advantages__item" data-nums data-animation>
                            <div class="advantages__info">
                                <div class="advantages__about">
                                    <p class="advantages__num"><span data-value="15">0</span>+</p>
                                    <p class="advantages__project">проектов в сфере</p>
                                </div>
                                <h3 class="advantages__title">Интернет-магазины</h3>
                            </div>
                            <div class="advantages__images">
                                <img class="advantages__background" src="images/advantages/advantages-bg-4.jpg" alt="картинка" width="585" height="333">
                                <img class="advantages__pic advantages__pic--mobile" src="images/advantages/advantages-pic-4.png" alt="картинка" width="262" height="319" data-animation>
                            </div>
                        </li>

                        <li class="advantages__item" data-nums data-animation>
                            <div class="advantages__info">
                                <div class="advantages__about">
                                    <p class="advantages__num"><span data-value="10">0</span>+</p>
                                    <p class="advantages__project">проектов в сфере</p>
                                </div>
                                <h3 class="advantages__title">Транспорт <br> и спецтехника</h3>
                            </div>
                            <div class="advantages__images">
                                <img class="advantages__background" src="images/advantages/advantages-bg-5.jpg" alt="картинка" width="585" height="333">
                                <img class="advantages__pic advantages__pic--crane advantages__pic--desktop" src="images/advantages/advantages-pic-5.png" alt="картинка" width="393" height="300" data-animation>
                                <img class="advantages__pic advantages__pic--crane advantages__pic--mob advantages__pic--crane" src="images/advantages/advantages-pic-5.png" alt="картинка" width="242" height="212" data-animation>
                            </div>
                        </li>

                        <li class="advantages__item advantages__item--secondary" data-animation>
                            <div class="advantages__info" data-nums data-animation>
                                <div class="advantages__about">
                                    <p class="advantages__num"><span data-value="150">0</span>+</p>
                                    <p class="advantages__project">проектов в <br> других тематиках</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
