<!-- Cases -->
<section class="section section--cases" id="cases">
    <div class="section__wrapper">
        <div class="section__header section__header--secondary container">
            <h2 class="section__title">Кейсы</h2>
            <p class="section__lead">
                Сегодня нам доверяют более 300 компаний из Самары, Москвы, Санкт-Петербурга, Ульяновска и других городов России. Имеем опыт работы с клиентами из Белоруссии, Казахстана, из стран ближнего зарубежья — Эстонии, Финляндии, а также из Канады. Среди наших клиентов как коммерческие компании, так и государственные организации.
            </p>
        </div>
        <div class="section__content">
            <div class="cases">
                <div class="cases__inner">
                    <div class="cases__box">
                        <div class="cases__header container">
                            <h3 class="cases__title">Интернет-магазины</h3>
                        </div>
                        <ul class="cases__grid grid">
                            <li class="cases__item cases__item--lowrance">
                                <div class="cases__images">
                                    <img class="cases__images-img cases__images-fish" src="images/cases/fish.png" alt="рыбы" width="337" height="175" data-animation>
                                    <img class="cases__images-img cases__images-monitor" src="images/cases/monitor.png" alt="монитор" width="309" height="317" data-animation>
                                </div>
                                <div class="cases__info">
                                    <div class="cases__pic">
                                        <img src="images/cases/lowrance.png" alt="lowrance" width="308" height="73">
                                    </div>
                                    <a href="https://relevant.ru/portfolio/prodvizhenie/online-lowrance/" class="cases__name" target="_blank">Продвижение интернет-магазина c нуля в 120 городах России</a>
                                    <a href="https://online-lowrance.ru/" class="btn btn--light btn--card" target="_blank">online-lowrance.ru</a>
                                </div>
                            </li>
                            <li class="cases__item cases__item--green cases__item--velomania">
                                <div class="cases__images">
                                    <img class="cases__images-img cases__images-wheel" src="images/cases/wheel.png" alt="колесо" width="239" height="219" data-animation>
                                    <img class="cases__images-img cases__images-bycicle" src="images/cases/bycicle.png" alt="велосипед" width="369" height="246" data-animation>
                                </div>
                                <div class="cases__info">
                                    <div class="cases__pic">
                                        <img src="images/cases/velomania.png" alt="velomania" width="339" height="80">
                                    </div>
                                    <a href="https://relevant.ru/portfolio/razrabotka/internet-magaziny/velomania/" class="cases__name" target="_blank">Интернет-магазин «VELOMANIA»</a>
                                    <a href="https://velomania.ee/" class="btn btn--light btn--card" target="_blank">velomania.ee</a>
                                </div>
                            </li>
                            <li class="cases__item cases__item--pink cases__item--remonstr">
                                <div class="cases__images">
                                    <img class="cases__images-img cases__images-hammer" src="images/cases/hammer.png" alt="молоток" width="245" height="245" data-animation>
                                    <img class="cases__images-img cases__images-pliers" src="images/cases/pliers.png" alt="плоскогубцы" width="153" height="150" data-animation>
                                    <img class="cases__images-img cases__images-gloves" src="images/cases/gloves.png" alt="перчатки" width="265" height="258" data-animation>
                                </div>
                                <div class="cases__info">
                                    <div class="cases__pic">
                                        <img src="images/cases/remonstr.png" alt="remonstr" width="339" height="80">
                                    </div>
                                    <a href="https://relevant.ru/portfolio/razrabotka/internet-magaziny/remonstr/" class="cases__name" target="_blank">Разработка интернет-магазина «Ремонстр»</a>
                                    <a href="https://remonstr.ru/" class="btn btn--light btn--card" target="_blank">remonstr.ru</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="cases__box">
                        <div class="cases__header container">
                            <h3 class="cases__title">Корпоративные сайты</h3>
                        </div>
                        <ul class="cases__grid grid">
                            <li class="cases__item cases__item--azure cases__item--ckb cases__item--nda">
                                <div class="cases__images">
                                    <img src="images/cases/ckb.png" alt="рыбы" width="523" height="307">
                                </div>
                                <div class="cases__info">
                                    <a href="#" class="cases__name">Комплексное развитие сайта <br> Научно-клинического центра №2 (ЦКБ РАН)</a>
                                    <div class="cases__cover">
                                        <div class="btn btn--light btn--card btn--wide">Клиент под NDA</div>
                                    </div>
                                    <div class="cases__bottom">
                                        <a href="https://www.ckbran.ru/" class="btn btn--light btn--card" target="_blank">ckbran.ru</a>
                                        <a class="cases__review btn btn--card" href="images/cases/ckb-review.jpg" data-fancybox>Отзыв клиента</a>
                                    </div>
                                </div>
                            </li>
                            <li class="cases__item cases__item--orange cases__item--tehno cases__item--nda">
                                <div class="cases__images">
                                    <img class="cases__images-img cases__images-helmet" src="images/cases/helmet.png" alt="каска" width="167" height="167" data-animation>
                                    <img class="cases__images-roof" src="images/cases/roof.png" alt="крыша" width="432" height="274">
                                </div>
                                <div class="cases__info">
                                    <div class="cases__pic">
                                        <img src="images/cases/tehno.png" alt="техностиль" width="372" height="80">
                                    </div>
                                    <a href="#" class="cases__name">Стратегическое развитие производителя сэндвич-панелей в интернете</a>
                                    <div class="cases__cover">
                                        <div class="btn btn--light btn--card btn--wide">Клиент под NDA</div>
                                    </div>
                                    <div class="cases__bottom">
                                        <a href="https://www.ts-panel.ru/" class="btn btn--light btn--card" target="_blank">ts-panel.ru</a>
                                        <a class="cases__review btn btn--card" href="images/cases/tehno-review.jpg" data-fancybox>Отзыв клиента</a>
                                    </div>
                                </div>
                            </li>
                            <li class="cases__item cases__item--bright">
                                <div class="cases__images">
                                    <img class="cases__images-handshake" src="images/cases/handshake.png" alt="рукопожатие" width="628" height="269">
                                    <img class="cases__images-img cases__images-table__01" src="images/cases/table-01.png" alt="таблица" width="313" height="196" data-animation>
                                    <img class="cases__images-img cases__images-table__02" src="images/cases/table-02.png" alt="рукопожатие" width="265" height="181" data-animation>
                                </div>
                                <div class="cases__info">
                                    <div class="cases__pic">
                                        <img src="images/cases/getfinance.png" alt="getfinance" width="270" height="92">
                                    </div>
                                    <a href="https://relevant.ru/portfolio/razrabotka/korporativnye-sayty/getfinance/" class="cases__name" target="_blank">Разработка корпоративного сайта «Getfinance»</a>
                                    <a href="https://getfinance.ru/" class="btn btn--light btn--card" target="_blank">getfinance.ru</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="cases__box">
                        <div class="cases__header container">
                            <h3 class="cases__title">Порталы</h3>
                        </div>
                        <ul class="cases__grid grid">
                            <li class="cases__item cases__item--light cases__item--russia">
                                <div class="cases__images">
                                    <img src="images/cases/map.png" alt="карта" width="493" height="285">
                                </div>
                                <div class="cases__info">
                                    <div class="cases__pic">
                                        <img src="images/cases/russia.png" alt="открой свою Россию" width="257" height="80">
                                    </div>
                                    <a href="https://relevant.ru/portfolio/razrabotka/korporativnye-sayty/razrabotka-platformy-dlya-turisticheskogo-konkursa/" class="cases__name" target="_blank">Разработка сайта для всероссийского конкурса "Открой свою Россию"</a>
                                    <a href="https://zagorizont.me/" class="btn btn--light btn--card" target="_blank">zagorizont.me</a>
                                </div>
                            </li>
                            <li class="cases__item cases__item--blue cases__item--pansionatov">
                                <div class="cases__images">
                                    <img class="cases__images-img cases__images-table__03" src="images/cases/pansionaty.png" alt="pansionat-zabota24" width="323" height="167" data-animation>
                                    <img class="cases__images-img cases__images-grandma" src="images/cases/grandma.png" alt="забота о близких" width="323" height="167" data-animation>
                                </div>
                                <div class="cases__info">
                                    <div class="cases__pic">
                                        <img src="images/cases/pansionat.svg" alt="pansionat-zabota24" width="354" height="77">
                                    </div>
                                    <a href="https://relevant.ru/portfolio/razrabotka/korporativnye-sayty/redizayn-sayta-seti-pansionatov-zabota-o-blizkikh/" class="cases__name" target="_blank">Редизайн сайта сети пансионатов <br> «Забота о близких»</a>
                                    <a href="https://pansionat-zabota24.ru/" class="btn btn--light btn--card" target="_blank">pansionat-zabota24.ru</a>
                                </div>
                            </li>
                            <li class="cases__item cases__item--white">
                                <div class="cases__images">
                                    <img class="cases__images-img cases__images-join" src="images/cases/join.svg" alt="присоединяйся к нам" width="175" height="111" data-animation>
                                    <img class="cases__images-img cases__images-gallery" src="images/cases/gallery.png" alt="картинка" width="461" height="269" data-animation>
                                </div>
                                <div class="cases__info">
                                    <div class="cases__pic">
                                        <img src="images/cases/vmeste.svg" alt="vmeste.ru" width="280" height="73">
                                    </div>
                                    <a href="https://relevant.ru/portfolio/razrabotka/korporativnye-sayty/vmeste-ru/" class="cases__name" target="_blank">Сборка сайта «Вместе.ру»</a>
                                    <a href="https://vmeste.ru/" class="btn btn--light btn--card" target="_blank">vmeste.ru</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
