<!-- Hero -->
<section class="section section--hero">
    <div class="section__wrapper">
        <div class="section__content">
            <div class="hero">
                <div class="hero__inner">
                    <div class="hero__header container">
                        <div class="hero__main">
                            <p class="hero__lead">Расширяй свой бизнес за границей</p>
                            <h1 class="hero__title">Разработка, адаптация и продвижение сайтов в Дубае</h1>
                            <a class="btn btn--light btn--wide" href="#modal-order" data-fancybox>Обсудить проект</a>
                        </div>
                        <div class="hero__bg">
                            <img src="images/hero/hero.jpg" alt="Разработка, адаптация и продвижение сайтов в Дубае" width="1928" height="979">
                        </div>
                    </div>
                    <div class="hero__content container">
                        <div class="hero__features">
                            @@include('sections/features.html')
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
