<!-- Hero -->
<section class="section section--job" id="job">
    <div class="section__wrapper container">
        <div class="section__header">
            <h2 class="section__title">Наши компетенции в сфере Internet-marketing</h2>
        </div>
        <div class="section__content">
            <div class="job">
                <div class="job__inner">
                    <ul class="job__list">
                        @@loop('items/job.html', '/data/job.json')
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
