<div class="modal modal--order" id="modal-order">
    <div class="modal__top">
        <div class="modal__top-left">
            <h2 class="modal__title title">Оставьте заявку</h2>
            <p class="modal__lead">Мы хотели бы поговорить с вами о ваших целях <br> и о том, как мы можем их достичь.</p>
        </div>
    </div>
    <div class="modal__content">
        <form class="form" action="#">
            <div class="form__box">
                <h3 class="form__title">Услуги</h3>
                <ul class="form__choose">
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="checkbox" name="services">
                            <span class="form__btn">SEO-продвижение</span>
                        </label>
                    </li>
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="checkbox" name="services">
                            <span class="form__btn">Разработка сайтов</span>
                        </label>
                    </li>
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="checkbox" name="services">
                            <span class="form__btn">Контент маркетинг</span>
                        </label>
                    </li>
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="checkbox" name="services">
                            <span class="form__btn">Техподдержка</span>
                        </label>
                    </li>
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="checkbox" name="services">
                            <span class="form__btn">Управление репутацией (SERM)</span>
                        </label>
                    </li>
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="checkbox" name="services">
                            <span class="form__btn">Копирайтинг и переводы</span>
                        </label>
                    </li>
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="checkbox" name="services">
                            <span class="form__btn">Контекстная реклама</span>
                        </label>
                    </li>
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="checkbox" name="services">
                            <span class="form__btn">Перенос на 1С Битрикс</span>
                        </label>
                    </li>
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="checkbox" name="services">
                            <span class="form__btn">Аудиты</span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="form__box">
                <h3 class="form__title">Бюджет</h3>
                <ul class="form__choose">
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="radio" name="budget">
                            <span class="form__btn">Менее 1 млн</span>
                        </label>
                    </li>
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="radio" name="budget">
                            <span class="form__btn">1-3 млн</span>
                        </label>
                    </li>
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="radio" name="budget">
                            <span class="form__btn">3-5 млн</span>
                        </label>
                    </li>
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="radio" name="budget">
                            <span class="form__btn">5-10 млн</span>
                        </label>
                    </li>
                    <li class="form__choose-item">
                        <label class="form__choose-label">
                            <input type="radio" name="budget">
                            <span class="form__btn">10-25 млн</span>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="form__box form__box--slim">
                <h3 class="form__title">Задача</h3>
                <div class="form__manage">
                    <label class="form__label">
                        <input type="text">
                        <span class="form__label-title">Описание</span>
                    </label>
                    <label class="form__download">
                        <input type="file">
                        <span class="form__download-btn">Прикрепить файл</span>
                    </label>
                </div>
            </div>
            <div class="form__box form__box--slim">
                <h3 class="form__title">Контактные данные</h3>
                <div class="form__main">
                    <div class="form__inputs">
                        <label class="form__label">
                            <input type="text">
                            <span class="form__label-title">Имя</span>
                        </label>
                        <label class="form__label">
                            <input type="text">
                            <span class="form__label-title">Телефон</span>
                        </label>
                        <label class="form__label">
                            <input type="text">
                            <span class="form__label-title">Email</span>
                        </label>
                        <label class="form__label">
                            <input type="text">
                            <span class="form__label-title">Компания</span>
                        </label>
                    </div>
                    <label class="form__label">
                        <input type="text">
                        <span class="form__label-title">Комментарий</span>
                    </label>
                </div>
            </div>
            <div class="form__bottom">
                <button class="btn btn--red">Отправить заявку</button>
            </div>
        </form>
    </div>
</div>
