        </main>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer__inner">
                <div class="footer__top container">
                    <a class="footer__logo" href="#">
                        <img src="images/icons/empty.gif" data-src="images/logos/footer-logo.svg" alt="логотип" width="268" height="68">
                    </a>
                    <nav class="footer__nav">
                        @@include('components/menu.html', {
                            "id": "main"
                        })
                    </nav>
                    <div class="footer__feedback">
                        <div class="footer__feedback-top">
                            <p class="footer__feedback-title">Связаться с нами</p>
                            <div class="footer__feedback-lines">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span class="footer__feedback-red"></span>
                                <span class="footer__feedback-red"></span>
                            </div>
                        </div>
                        <p class="footer__feedback-time">Режим работы с 10:00 до 19:00</p>
                        <div class="footer__feedback-contacts">
                            <a class="footer__feedback-tel" href="tel:88003330421">8 (800) 333-04-21</a>
                            <p class="footer__feedback-email">
                                <span>E-mail:</span>
                                <a href="mailto:info@relevant.ru">info@relevant.ru</a>
                            </p>
                        </div>
                    </div>
                    <div class="footer__info">
                        <p><b>ООО "Релевант медиа" 2023</b></p>
                        <p>ИНН 6316191338</p>
                        <p><a href="https://relevant.ru/documenty/" target="_blank"><b>Сертификаты и свидетельства</b></a></p>
                    </div>
                    <ul class="footer__links">
                        <li class="footer__links-item">
                            <a href="images/general.pdf" class="btn btn--outline btn--arrow" download="Презентация интернет-агентства">Презентация интернет-агентства</a>
                        </li>
                        <li class="footer__links-item">
                            <a href="images/medicine.pdf" class="btn btn--outline btn--arrow" download="Презентация по медицине">Презентация по медицине</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__bottom container">
                    <div class="footer__bottom-left">
                        <p class="footer__company"><span>&#174;</span>Relevant<sup>TM</sup></p>
                    </div>
                    <!-- <div class="footer__bottom-right">
                        <ul class="footer__docs">
                            <li><a href="#">Политика конфиденциальности</a></li>
                            <li><a href="#">Пользовательское соглашение</a></li>
                            <li><a href="#">Политика использования Cookoe файлов</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </footer>
    </div>

    <a class="btn btn--icon fixed-btn" href="#modal-order" data-fancybox>
        <span class="btn__text">Обсудить проект</span>
        <span class="btn__icon">
            <img src="images/icons/email.svg" alt="email" width="28" height="28">
        </span>
    </a>

    @@include('modals/success.html')
    @@include('modals/order.html')

    <!-- js:main --><!-- /js:main -->
    <!-- js:modules --><!-- /js:modules -->
</body>

</html>
